<div class="alpha grid_18 omega center"><h1 class="no-top-margin">This is my account</h1></div>
<div class="alpha grid_18 omega">
    <div class="alpha prefix_1 grid_3">
        2017-04-20
    </div>
    <div class="grid_4">
        Other account
    </div>
    <div class="grid_6">
        This is supposed to be a cmmnt
    </div>
    <div class="grid_3 suffix_1 omega currency">
        356.15
    </div>


    <div class="alpha prefix_1 grid_3">
        2017-04-18
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        This is also a comment
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
    <div class="alpha prefix_1 grid_3">
        2017-04-17
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        &nbsp;
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>


    <div class="alpha prefix_1 grid_3">
        2017-04-18
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        This is also a comment
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
    <div class="alpha prefix_1 grid_3">
        2017-04-17
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        &nbsp;
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>


    <div class="alpha prefix_1 grid_3">
        2017-04-18
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        This is also a comment
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
    <div class="alpha prefix_1 grid_3">
        2017-04-17
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        &nbsp;
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>


    <div class="alpha prefix_1 grid_3">
        2017-04-18
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        This is also a comment
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
    <div class="alpha prefix_1 grid_3">
        2017-04-17
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        &nbsp;
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>


    <div class="alpha prefix_1 grid_3">
        2017-04-18
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        This is also a comment
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
    <div class="alpha prefix_1 grid_3">
        2017-04-17
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        &nbsp;
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>


    <div class="alpha prefix_1 grid_3">
        2017-04-18
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        This is also a comment
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
    <div class="alpha prefix_1 grid_3">
        2017-04-17
    </div>
    <div class="grid_4">
        Account with very
    </div>

    <div class="grid_6">
        &nbsp;
    </div>

    <div class="grid_3 suffix_1 omega currency">
        123456.78
    </div>
</div>
