<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlatformD</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

    <script src="platformd.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id"
          content="714940765820-4ronadar6r8rjgkn0lih986sgi14vl0o.apps.googleusercontent.com">
</head>
<body>
    <div ng-app="platformd" ng-controller="controller as ctrl">
        <div id="loginContainer">
            <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onFailed"></div>
            <button ng-show="ctrl.loggedIn" ng-click="ctrl.logout()">Logout</button>
        </div>
        <h1>Accounts</h1>
        <table>
            <tr ng-repeat="account in ctrl.accounts">
                <td><a ng-click="ctrl.clickedOnAccount(account)">{{account.name}}</a><br>
                    <table ng-show="account.showTransactions">
                        <tr ng-repeat="transaction in account.transactions">
                            <td>{{transaction.timestamp}}</td>
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.comment}}</td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <tr>
            <td><input type="text" ng-model="name"> <input type="text" ng-model="initialBalance" value="0"> <button ng-click="ctrl.createAccount(name,initialBalance)">Add</button></td>
        </tr>
        <h1>Budget</h1>
        <table>
            <tr ng-repeat="budgetItem in ctrl.budgetItems">
                <td>{{budgetItem.name}}</td>
            </tr>
        </table>
    </div>
</body>
</html>