<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlatformD</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

    <script src="platformd.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id"
          content="714940765820-4ronadar6r8rjgkn0lih986sgi14vl0o.apps.googleusercontent.com">
</head>
<body>
    <div ng-app="platformd" ng-controller="controller as ctrl">
        <div id="loginContainer">
            <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onFailed"></div>
            <button ng-show="ctrl.loggedIn" ng-click="ctrl.logout()">Logout</button>
        </div>
        <h1>Accounts</h1>
        <table>
            <tr>
                <td><input type="text" ng-model="name"> <button ng-click="ctrl.createAccount(name)">Add</button></td>
            </tr>
            <tr ng-repeat="account in ctrl.accounts">
                <td><a ng-click="ctrl.clickedOnAccount(account)">{{account.name}} {{account.balance}}</a><br>
                    <table ng-show="account.showTransactions">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Budget item</th>
                                <th>Amount</th>
                                <th>Comment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="text" ng-model="timestamp" value="2017-01-07T18:10:19Z"></td>
                            <td>
                                <select ng-model="budgIt" >
                                    <option ng-repeat="item in ctrl.budgetItems" value="{{item.uuid}}">{{item.name}}</option>
                                </select>
                            </td>
                            <td><input type="text" ng-model="amount"></td>
                            <td><input type="text" ng-model="comment"></td>
                            <td><button ng-click="ctrl.addTransaction(account, timestamp, amount, comment, budgIt)">Add</button></td>
                        </tr>
                        <tr ng-repeat="transaction in account.transactions">
                            <td>{{transaction.timestamp}}</td>
                            <td>TODO</td>
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.comment}}</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <h1>Budget</h1>
        <table>
            <td><input type="text" ng-model="name"> <button ng-click="ctrl.createBudget(name)">Add</button></td>
            <tr ng-repeat="budgetItem in ctrl.budgetItems">
                <td>{{budgetItem.name}}</td>
            </tr>
        </table>
    </div>
</body>
</html>