/* You can add global styles to this file, and also import other style files */
.header {
    width: 960px;
    height: 50px;
}

.container {
    width: 960px;
}

.col1 {
    float: left;
    width: 80px;
}

.col2 {
    float: left;
    width: 160px;
}

.col3 {
    float: left;

    width: 240px;
}

.col4 {
    float: left;
    width: 320px;
}

.col5 {
    float: left;
    width: 400px;
}

.col6 {
    float: left;
    width: 480px;
}

.col7 {
    float: left;
    width: 560px;
}

.col8 {
    float: left;
    width: 640px;
}

.col9 {
    float: left;
    width: 720px;
}

.col10 {
    float: left;
    width: 800px;
}

.col11 {
    float: left;
    width: 880px;
}

.col12 {
    float: left;
    width: 960px;
}
